.members-search{
    padding: 10px;
    margin: 10px 0;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.clearButton{
    border: none;
    background-color: transparent;
}